body{
    background-color: #006607;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}

.m-auto{
    margin: auto;
}

.text-center{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

.card{
    background-color: transparent;
    margin-top: 10em;
    &-header{
        background-color: white;
    }
    &-content{
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
    }
}





