.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.55s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;

    border-radius: 0.5rem;
    overflow: auto;
    max-height: 80vh;
    &-primaerrom{
        margin-top: 2.5em;
    }

}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}





/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #112155;
  color: white;
  min-width: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* Style the input fields */
.input-field {
  width: 50%;
  padding-left: 5px;
  font-size: 1em;
  border: 1px solid #112155;
  &:focus{
    outline: 2px solid #112155;
  }

}
input:focus{
    outline: none;
}



.fa-question-circle{
    font-size: 0.75em;
    font-weight: normal;
}

.hidden-p{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    display: none;
}


.illustration{
    width: 75%;
    margin: auto;
}

.illustrationLink{
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover{
        border: 2px solid #112155;
    }
}

.small{
    font-size: 12px;
    color: black;
    text-align: center;
}

.purple{
    width: 30%;
    background-color: #3E38AA;
}

.active{
    border: 2px solid #3E38AA;
}


@media only screen and (max-width: 599px) {
    /* For tablets: */
    .modal-content {
         width: 80vw;
    }
    .hidden-p{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .modal-content {
        width: 70vw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .modal-content {
         width: 40vw;
    }
  }