.ds-square-background-color{
    background-color:#896;
        height: 100px;
        max-width: 100%;
        margin:0 auto;
        margin-bottom: 1em;
}

.house{
    background: url("images/texture01_v2.png") ;
}